body{
	background:#fafafa;
	color:#595959;
	height:100%
}
#header {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.06);
    width:100%;
}
#header .layui-nav{
	background: #fff;
}
#header .layui-nav a{
	color:#595959;
}
.content{
	margin-top:1.5em;
}

.home-left , .home-right{
	background-color: #fff;
	/*border:1px solid red;*/
	box-sizing: border-box;
   	border:1px solid #DDDDDD;
   	padding:12px;
   	line-height:1.2em;
}
.home-left {
	background-color: #fff;
	/*border:1px solid red;*/
	box-sizing: border-box;
   	border:1px solid #DDDDDD;
   	padding:3em;
   	line-height:1.2em;
}
.avatar_url{
	width:96px;
	height:96px;
	margin-left:auto;
	margin-right:auto;
}
.avatar_url img{
	max-width:100%;
	max-height:100%;
	border-radius:200px;
}
.name {
	text-align:center;
	    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 4px;
    font-size: 20px;
    color: #262626;
    padding:1em;
}
.description{
	line-height:1.5em;
}
.contact{
	padding:1em;
	text-align:center;
	font-size:1.8em;
}
#footer{
	border-top:1px solid #DDDDDD;
	padding-top:1em;
	padding-bottom:1em;
	line-height:2em;
	margin-top:4em;
	text-align:center;
}
.doc p{
	padding:0.6em;
}
.post-content{
	background-color: #fff;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
	/* box-shadow:1px 1px 4px #998; */
}
.content-html {
	padding-left:1.4em;
	padding-right:1.4em;
	margin-top:1em;
	margin-bottom:2em;
}
.content-html pre code{
	white-space: pre;
}
.name-toc ul li{
	line-height: 1.6em;
	
}
/*.post-toc{
	background-color:#fff;
}*/

.post-toc h3{
	padding-left:1em;
	padding-top:0.5em;
}
.k-catelog-list{
	margin-top:0.8em;
	padding-left:0.6em;
}
.k-catelog-list ul{
	padding-left:1.2em;
}
.k-catelog-list ul li{
	line-height:1.6em;
}

.name-toc{
	/* padding-left:1em; */
	padding-top:1em;
}
#logo{
	margin:0;
	padding:0;
	float:left;
	/* margin-top:0.9em; */
}
#logo img{
	max-width:32px;
	max-height:28px;
}
#logo h1{
	/*font-size:26px;*/
	line-height: 2em;
}
h1, h2, h3, h4, h5, h6 ,p{
    color:#393D49;
}
h1{
	font-size:2.2em;
	/* line-height:2em; */
}
h2{
	font-size:1.8em;
	/* line-height:2em; */
}
h3{
	font-size:1.6em;
	/* line-height:2em; */
}
h4{
	font-size:1.4em;
	/* line-height:2em; */
}
code{
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    color: #b94a48;
    padding: 2px 4px;
    background: #f3f3f0 none repeat scroll 0 0;
    margin-left:0.3em;
    margin-right:0.3em;
}
.content-html a{
	color:#01AAED;
}
.md ul{
	margin-top:0.5em;
	margin-bottom:0.5em;
}
.content-html ul li{
	list-style-type:square;  
	line-height:1.6em;
	margin-left:2em;
}
.content-html p{
	line-height:1.4em;
}
.content-html pre{
	/* margin-top:0.5em;
	margin-bottom:0.5em; */
}
.content-html blockquote{
	margin-top:1em;
	font-size:1.2em;
	background-color: #eeeeee;
	padding-left:0.6em;
	padding-right:0.6em;
	border-left:5px solid #009688;
}
.content-html blockquote p{
	line-height:2em;
}
.content-html img{
	max-width:100%;
	/* margin-top:1em; */
	border:1px solid #ECECEC;
	/* border-radius:6px; */
}
.content-html ol li{
	list-style-type:decimal;
	margin-left:2.2em;
	line-height: 1.6em;
}
/*返回顶部*/
.top{
	position:fixed;
	right:40px;
	bottom:40px;
	z-index:99;
}
.post-left h3{
	padding-top:0.5em;
}
.donate{
	margin-top:1em;
	margin-bottom:1em;
}
.donate a{
	color:#FFFFFF;
}
code .bash{
	color:#998;
}
/* TOC深度 */
.depth2{
	padding-left:1.5em;
}
.depth3{
	padding-left:3em;
}
.gg-home img{
	max-width: 100%;
	margin-top:1em;
}
.gg-post-left img{
	max-width: 95%;
	margin-top:1em;
}
.gg-post-right img{
	max-width: 100%;
	margin-top:1em;
	margin-left:1em;
}
#post-info{
	margin-top:1em;
	color:#a5a5a5;
}
#post-info span{
	margin-right:1em;
}
#post-info a{
	color:#a5a5a5;
}
/* 右侧TCO超过隐藏 */
.k-catelog-link{
	overflow:hidden;
	white-space:nowrap;
}
.k-catelog-level-3 ul{
	list-style-type:disc;
}